<template>
<div class="row">
  <div class="col-md-12">
    <!-- PANEL HEADLINE -->
    <div class="panel panel-headline">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Buat Data</h3>
        <p class="panel-subtitle">Panel Untuk Menambahkan Data Nama</p>
      </div>
      <div class="panel-body">
        <!-- prevent form submit untuk reload halaman, kemudian memanggil function addData() -->
        <form @submit.prevent="addData()">
          <div class="form-group">
            <label>First name</label>
            <input
              type="textfield"
              class="form-control"
              placeholder="Input your first name"
              v-model="form.firstName"
              required
            >
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input
              type="textfield"
              class="form-control"
              placeholder="Input your last name"
              v-model="form.lastName"
              required
            >
          </div>
          <div class="form-group text-right pt-5">
              <router-link class="btn btn-default border text-secondary font-weight-bold" :to="'/'">Kembali</router-link>
            <button class="btn btn-success">Konfirmasi</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END PANEL HEADLINE -->
  </div>
</div>
</template>

<script>
export default {
  data(){
    return{
      form:{
        firstName: '',
        lastName: ''
      }
    }
  },
  methods: {
    addData() {
      // post data ke api menggunakan axios
      axios
        .post("http://localhost:8000/api/person", {
          first_name: this.form.firstName,
          last_name: this.form.lastName
        })
        .then(response => {
          // push router ke read data
          this.$router.push("/");
        });
    }
  }
};
</script>
