<template>
      <div class="row">
              <div class="col-md-12">
                  <!-- BASIC TABLE -->
                  <div class="panel">
                      <div class="panel-heading text-right">
                           <!-- push router ke form membuat data -->
                          <router-link class="btn btn-primary w-100" to="/create"><i class="fa fa-plus-circle"></i>&nbsp; Tambah</router-link>
                      </div>
                      <div class="panel-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th class="text-center" scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- menampilkan data ke table -->
                          <tr v-for="person in persons" :key="person.id">
                            <td>{{person.first_name}}</td>
                            <td>{{person.last_name}}</td>
                            <td class="text-center">
                              <router-link class="btn btn-info" :to="'/detail/'+person.id"><i class="fa fa-edit"></i></router-link>
                              <button class="btn btn-danger" v-on:click="deleteData(person.id)"><i class="fa fa-trash"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                  </div>
                  <!-- END BASIC TABLE -->
          </div>
      </div>
</template>

<!-- script js -->
<script>
export default {
  data() {
    return {
      // variable array yang akan menampung hasil fetch dari api
      persons: []
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      // fetch data dari api menggunakan axios
      axios.get("http://localhost:8000/api/person").then(response => {
        // mengirim data hasil fetch ke varibale array persons
        this.persons = response.data;
      });
    },
    deleteData(id) {
      // delete data
      axios.delete("http://localhost:8000/api/person/" + id).then(response => {
        this.loadData();
      });
    }
  }
};
</script>
